name: Test
on: [push, pull-request]
jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
    
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Run All user service Tests
        env: 
          MONGO_URL: ${{ secrets.MONGO_TEST_URL }}
        run: |
          cd user-service
          npm install
          touch .env
          echo DB_CLOUD_URI="$MONGO_URL" >> .env
          npm run test